
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <link href="~/Content/bootstrap.css" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
   

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h1>Corporate Headquarters</h1>
            </div>
            <div class="card-body">
                <p>Toll Free:12334934</p>
                <p>Email:support@company.com</p>
            </div>
        </div>
    </div>
</body>
</html>
